<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"-->
    <title>首頁</title>
    
    <link href="/style/css/homepage.css" type="text/css" rel="stylesheet" charset="utf-8"> 

 
  
</head>
<body>
        <img src="/style/picture/homeTitlePicture.jpg" >
    <div id="container">
        <nav>
            <div id="logo">
                會議管理系統                
            </div>
            <ul id=menu>
                <li><a href="/reservation">預約會議室</a></li>
                <li><a href="/checkin">會議簽到</a></li>
                <li><a href="/record">會議記錄</a></li>
            </ul>
        </nav>   
        <header>
            <div id="links">
                <a href="">登出</a>
            </div>
        </header> 
        <main>
            
        </main> 
    </div>    
    <script src="homepage.js"></script>
</body>
</html>